body{
    background-color: black;
    margin: 0; 
    font-family: sans-serif;
    color: white;
}

header{
    margin: 0 20.3rem 0 20rem;
    padding: 1rem 2.5rem ;
    #headBar{
        display: flex;
    }
    
    #headBarLeft{
        margin: 5px 0 0 5px;
        display: inline-flex;
        -webkit-flex: 0 0 calc(33.333333333333336% - 1rem);
    }
    
    #headBarRigt{
        display: flex;
        -webkit-flex: 0 calc(100%);
        justify-content: right;
        text-align: center;
        align-content: center;
    }

    #language{
        background-color: #0000005d;
        border: #5F5E5E 1px solid ;
        margin: 10px 0 10px 20px;
        width: 8rem;
        border-radius: 4px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 13px;
        text-align: center;  
        text-decoration: none;
    }

    option{
        background-color: white;
        color: black;
    }

    #ico-leng{
        position: absolute;
        right: 35.4rem;
        top: 2.1rem;
    }

    #ico-leng-es{
        position: absolute;
        right: 37.8rem;
        top: 2.1rem;
    }

    #SignIn{
        background-color: #E50914;
        border: none ;
        margin: 10px 0 10px 20px;
        padding: 9px 17px ;
        border-radius: 4px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 13px;
        text-align: center;  
        text-decoration: none;
    }
    
    
    #SignIn:hover{
        cursor: pointer;
        background-color: #c80914;
    }
}


#div-Img-01{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 30rem;
    padding: 9.875rem 0 4rem;
    z-index: -1;

    #div-Img-02{
        position: relative;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    #backgroundImage{
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%; /* Ancho del contenedor */
        height: 100%; /* Altura del contenedor */
        transform: scale(1.25) translateY(-10%);
        object-fit: cover;
    }
    
    #div-Img-03{
        background: rgb(0 0 0 / 40%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, 
                         rgba(0, 0, 0, 0.8) 0,
                         rgba(0, 0, 0, 0) 60%, 
                         rgba(0, 0, 0, 0.8) 100%);
    }
    
    #div-Img-04{
        margin: 7rem 10rem;
        height:15rem ;
        display: flex;
        justify-content: center;
        
    }
    
    #div-Img-05{
        
     height: 100%;
     z-index: 122;
     text-align: center;
     color: white;
    }
    
    #title-01{
        font-weight: 900;
        font-size: 2.5rem;
        margin: 0;
    }
    
    .p-01{
        font-size: 23px;
        margin-bottom: 0;
    
    }
    
    #div-Img-06{
        display: flex;
        margin: 29px 8rem 0 8rem;
        height: 4.2rem;
        justify-content: center;
    }
    
    #div-Img-07{
        display: flex;
        width: 350px;
    }
    
    input{
        background-color: #0c0c0c9c;
        border: gray solid 1px;
        width: 100%;
        height: 50%;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        padding: 17px 14px 7px;
    }
    
    #div-Img-08{
        display: flex;
        width: 200px;
        justify-content: right;
    }
    
    #button-email{
        height: 90%;
        width: 90%;
        background-color: red;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
    }
    
    #button-email:hover{
        background-color: #c80914;
    }
}


#publi-01{
    position: absolute;
    top: 39.4rem;
    width: 100%;
    height: 14%;
    z-index: 4;

    #publi-02{
        height: 74%;
        padding: 22px;
        margin: 0 74px;
        display: flex;
        justify-content: center;
        background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
        border-radius: 4px;
    }

    #publi-03{
        padding-left: 32px;
    }

    #h3-publi{
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }

    #p-publi{
        margin-top: 14px;
        margin-bottom: 8px;
        font-size: 16px;
    }

    #button-publi{
        background-color: transparent;
        border: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #448ef4;
        font-size: 17px;
        font-weight: 600;
        text-decoration: underline;
        padding: 0;
    }
}


#articles{
    position: absolute;
    width: 100%;
    top: 38.6rem;
    height: auto;
    
    .article{
        display: flex;
        justify-content: center;
        margin: 0 19%;
        padding: 6.05rem 0;
        min-height: auto;

        img{z-index: 2;}

        .div-video{
            position: relative;
            
        }
        .videos-01{
            position: absolute;
            top: 20%;
            left: 13%;
            width: 73%;
            height: 54%;
            z-index: -1;
            
        }

        .videos-02{
            position: absolute;
            top: 8%;
            left: 17%;
            width: 65%;
            height: 54%;
            z-index: -1;
            overflow: hidden;
            
        }
        
        video{
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -1;
            
        }
    }

    .content-art{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 3rem;
        font-weight: 900;
        margin: 0;
    }

    p{        
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .line{
        border: #232323 solid;
    }
    
    #img-play{
        display: flex;
        border: solid #5A5A5A 2px;
        background-color: black;
        border-radius: 15px;
        position: absolute;
        bottom: 2rem;
        left: 10rem;
        height: 19%;
        width: 19.75rem;
        align-items: center;

    }

    #stranger{
        margin: 0 10px;
    }

    #title-stranger{
        margin-bottom: 0;
        font-size: 21px;
        font-weight: 600;
    }

    #text-stranger{
        margin-top: 4px;
        font-size: 16px;
        color: #0071EB;
    }

    #download{
        width: 3rem;
        height: 3rem;
        outline: 2px solid rgb(0, 0, 0);
        background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
        background-size: 100%;
        margin: 0 15px;
    }
}

